<html>
 <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <p style="text-align: center; font-size: 500%;"> 404 Error: Page Not Found</p>
 <p style="text-align: center; font-size: 300%;"> Sorry about that. Home button is below and have a cute picture for your troubles! </p> 
 <button type="button" class="btn btn-default navbar-btn btn-group btn-group-lg btn-primary" style="display: block; margin-left: auto; margin-right: auto;"><span class="glyphicon glyphicon-home"></span> Home</button> 
 <img style="display: block; margin-left: auto; margin-right: auto;" src="http://www.penguin-pictures.net/cute_penguins.jpg"></img>
</html>
